@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/earlyaccess/jejugothic.css');
/* https:// 확인! */

h1, h2, h3, h4, .navbar-brand {
    font-family: 'Jeju Gothic';
    color: #673AB7;
  }
  
  body {
    font-family: 'Nanum Gothic';
    background-color: #BBDEFB;
  }
  
  .navbar {
    border-bottom: #a7d3f6 3px solid;
  }

  